/* GENERAL */
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    width: 220px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
fieldset {
    background-color: #f5f5f5;
    border: 3px solid #bbbbbb;
}

/* CALCULATION */
.calculation {
    width: 170px;
    background: #bbbbbb;
    border: 1px solid #777777; 
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    outline:0;
    padding:6px 10px;
} 

/* TABLE */
table {
    width: 200px;
}

/* BUTTONS */
.operator {
    background-color:#63b8ee;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#14396a;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding:6px 10px;
    text-decoration:none;
}
.operator:hover {
    background-color:#367cbf;
}
.operator:active {
    position:relative;
    top:1px;
}
.operator:disabled {
    background-color:#ffffff;
    border:1px solid #cccccc;
    color:#cccccc;
}

.digit {
    background-color:#77d42a;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:1px solid #268a16;
    display:inline-block;
    cursor:pointer;
    color:#306108;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding:6px 10px;
    text-decoration:none;
}
.digit:hover {
    background-color:#4ca801;
}
.digit:active {
    position:relative;
    top:1px;
}
.digit:disabled {
    background-color:#ffffff;
    border:1px solid #cccccc;
    color:#cccccc;
}

.otherButton {
    background-color:#f0c911;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:1px solid #e65f44;
    display:inline-block;
    cursor:pointer;
    color:#c92200;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding:6px 10px;
    text-decoration:none;
}
.otherButton:hover {
    background-color:#e29b0e;
}
.otherButton:active {
    position:relative;
    top:1px;
}
.otherButton:disabled {
    background-color:#ffffff;
    border:1px solid #cccccc;
    color:#cccccc;
}
